/*COLORS*/
$primary-color : rgba(87, 152, 156, 0.78);
$secondary-color : rgba(255, 228, 251, 0.6);

$white : rgba(253, 255, 255, 1);
$bgcolor : rgba(40, 40, 40, 1);
$gray : rgba(153, 153, 153, 1);

$principal-font : "Poppins";