.line{
    position: relative;
    height: 4px;
    grid-column: 2 /4;
    grid-row: 5;
    align-self: end;
    transform: translateY(45px);
    background-color: rgba(53, 53, 53, 0.64);
    .name{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: 600;
        color: $primary-color;
    }
}