.line{
    position: relative;
    height: 4px;
    // grid-row: 5;
    width: 50%;
    transform: translateY(45px);
    background-color: rgba(53, 53, 53, 0.64);
    margin-top: 8em;
    .name{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: 600;
        color: $primary-color;
    }
}
