body{
    background-color: $bgcolor;
    font-family: $principal-font;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
    grid-gap: 0;
}
