body{
    background-color: $bgcolor;
    font-family: $principal-font;
    width: 100%;
    height: 5000px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
    grid-gap: 0;
}

.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
